body {
  background: #f4f4f4;
  font-weight: 300;
}

.wrap {
  padding: 3em;
  margin: 0 auto;
  max-width: 24em;
}

.footer {
  margin-top: 5em;
  padding: 1em 0;
  border-top: 1px dotted #ccc;
  font-size: .8em;
}

.footer p{
  margin: 0;
}

.is-hidden {
  display: none;
}

a {
  color: #29d;
}

p {
  line-height: 1.55em;
}

a:hover {
  text-decoration: none;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.intro {
  margin: 0 0 3em 0;
}

.demo__controls {
  margin: 0 1em 0 0;
}

.demo {
  margin: 0 0 3em 0;
}

.demo .demo__display {
  margin: 0 0 .7em 0;
}

.demo .demo__code {
  max-width: 35em;
  padding: 0 1em 1em;
  border: 1px solid #E3DEDE;
  text-align: left;
  font-size: 12px;
}

.demo .demo__code-trigger {
  font-size: 12px;
}

.demo__code-trigger,
button span {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

button {
  display: inline-block;
  padding: .7em;
  margin: 0 .7em .7em 0;
	
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	outline: none;
  
	color: #444;
  background: linear-gradient(#eee 10%, #ccc);
	background-color: #eee;

	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	font-size: 10px;
}

button:hover {
  color: #000;
}

button:active {
  background: linear-gradient(#ccc 10%, #eee);
}

button span {
  padding-left: .7em;
  font-size: 1.1em;
}
